---
import '../styles/global.css';

interface Props {
  title: string;
  description?: string;
}

const { title, description = "Vitullo Consulting, LLC – Build digital environments that developers will actually use." } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700,800" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#00aba9" />
    <meta name="theme-color" content="#3b7977" />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content="technical community,developer community,devrel,developer relations" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.vcarl.com" />
    <meta property="og:title" content="Technical Community Consulting" />
    <meta property="og:description" content="Build digital environments that developers will actually use." />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  body {
    margin: 0 auto;
    padding: 1rem;
    max-width: 45rem;
    font-size: 16px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  img {
    max-width: 100%;
  }

  a:visited {
    color: blue;
  }
</style> 
